<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
 
  <form [formGroup]="formgroup"  (ngSubmit)="submit(formgroup)">
    <ion-list>
       <ion-item id="input" >
           <ion-label floating>Name</ion-label>
           <ion-input [class.invalid]="!formgroup.controls.name.valid && (formgroup.controls.name.dirty || submitAttempt)" formControlName="name" type="text"  placeholder="Name"></ion-input>
       </ion-item>
      <ion-item *ngIf="formgroup.controls.name.pending">
           <p>Checking name...</p>
       </ion-item>
      <ion-item *ngIf="!formgroup.controls.name.valid && !formgroup.controls.name.pending && (formgroup.controls.name.dirty || submitAttempt)">
           <p>Sorry, that name can not be used!</p>
       </ion-item>
   
         <ion-item id="input">
             <ion-label floating>Email</ion-label>
             <ion-input [class.invalid]="!formgroup.controls.email.valid && (formgroup.controls.email.dirty || submitAttempt)" formControlName="email" type="text"   placeholder="Email"></ion-input>
         </ion-item>
        <ion-item *ngIf="formgroup.controls.email.pending">
             <p>Checking email...</p>
         </ion-item>
        <ion-item *ngIf="!formgroup.controls.email.valid && !formgroup.controls.email.pending && (formgroup.controls.email.dirty || submitAttempt)">
             <p>Sorry, that email can not be used!</p>
         </ion-item>
     
         <ion-item id="input">
           <ion-label floating>Password</ion-label>
           <ion-input [class.invalid]="!formgroup.controls.password.valid && (formgroup.controls.password.dirty || submitAttempt)" formControlName="password" type="password"  placeholder="Password"></ion-input>
       </ion-item>
     
       <ion-item *ngIf="formgroup.controls.password.pending">
           <p>Checking password...</p>
       </ion-item>
     
       <ion-item *ngIf="!formgroup.controls.password.valid && !formgroup.controls.password.pending && (formgroup.controls.password.dirty || submitAttempt)">
           <p>Sorry, that password can not be used!</p>
       </ion-item>
       </ion-list>

       <div class="sub">
       <button ion-button>Submit</button>
       </div>
     </form>


</ion-content>
